.spinner {
    width: 100px;
    height: 100px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ff0000;
    border-bottom: 16px solid #0000ff;
    border-radius: 50%;
    animation: none; /* Default no spin */
    transition: all 3s ease;
}

.spinning {
    animation: spin 3s infinite; /* Spins for 3 seconds */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    height: 100vh; /* Ensure the body takes the full viewport height */
    overflow-y: hidden; /* Prevent scroll on the body */
}

.App {
    text-align: center;
    padding: 20px;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable scrolling within the App container */
    box-sizing: border-box;
}

.title {
    font-size: 3em;
    color: #ff9800;
    margin-bottom: 20px;
}

.money {
    font-size: 2em;
    color: #4caf50;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-button, .upgrade-button, .casino-button, .prestige-button, .back-button, .upgrade-page-button {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    color: white;
}

.main-button {
    background-color: #4caf50;
}

.main-button:hover {
    background-color: #45a049;
}

.upgrade-button {
    background-color: #2196f3;
}

.upgrade-button:hover {
    background-color: #1976d2;
}

.casino-button {
    background-color: #f44336;
}

.casino-button:hover {
    background-color: #d32f2f;
}

.prestige-button {
    background-color: #673ab7;
}

.prestige-button:hover {
    background-color: #5e35b1;
}

.back-button, .upgrade-page-button {
    background-color: #ff5722;
}

.back-button:hover, .upgrade-page-button:hover {
    background-color: #e64a19;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.auto-clicker {
    position: absolute;
    font-size: 2em;
    color: #ff9800;
    top: -20px;
    right: -40px;
}

.footer {

    bottom: 0; /* Position it at the bottom */
    left: 50%; /* Start at the left center */
    transform: translateX(-50%); /* Shift it left by half its width to center */
    font-size: 1.2em; /* Set font size */
    color: #ff9800; /* Set text color */
    text-align: center; /* Center the text */
    width: 100%; /* Make it take full width if needed */
    padding: 10px 0; /* Add some padding for better appearance */
  
}


/* Add scroll for content */
.App {
    max-height: calc(100vh - 50px); /* Subtract some space for padding/footer */
    overflow-y: auto; /* Enable vertical scroll */
    padding-bottom: 60px; /* Prevent content from being obscured by footer */
}
